html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}
.job {
  background-color: #f2f2f2;
  display: flex;
  width: 100%;
}
.job__left {
  flex: 0.6;
  border-right: 1px solid rgb(175, 175, 175);
  height: 100vh;
  direction: rtl;
}
.job__right {
  flex: 0.4;
  direction: rtl;
}

.job__title {
  margin-top: 90px;
  margin-right: 70px;
  font-size: 25px;
  font-weight: 600;
}
hr {
  display: block;
  margin-top: 20px;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  width: 95%;
  color: black;
}
.project {
  padding: 15px;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}
.project:hover {
  transform: scale(1.07);
}
.project > hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 70%;
  color: black;
}

.project > h3 {
  margin-right: 75px;
}
.project__container {
  background-color: white;
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 70px;
}
.project__container > p {
  font-size: 14px;
  font-weight: 500;
}
.job__options {
  display: flex;
  margin-top: 20px;
}
.job__option {
  display: flex;
  color: gray;
  padding: 15px;
}
.job__option > p {
  margin-right: 5px;
}

.categories {
  padding: 30px;
  background-color: white;
  width: 400px;
  margin: 30px;
  border-radius: 20px;
  height: 300px;
}
.categories > ul > li > ul > li {
  margin-right: 20px;
}

.categories > ul > li > ul > li:hover {
  display: in;
}
.form {
  display: flex;
}
.input__top {
  margin: 30px;
}
/* .input__top > h3 {
  margin-right: 20px;
} */
.job__input {
  width: 50%;
}

.input__top > input {
  width: 100%;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  outline-width: 0;
}

.input__middle {
  margin: 30px;
}
.input__middle > input {
  width: 100%;
  padding: 60px 40px;
  border: none;
  border-radius: 5px;
  outline-width: 0;
}
.input__file {
  display: none;
}
.input__bottom {
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
.input-chat {
  background-color: white;
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex: 0.7;
  margin-left: 20px;
  padding-left: 20px;
}
.input__bottom > p {
  font-size: 12px;
  font-weight: 500;
}
.input__bottom2 {
  margin: 30px;
}
.input__bottom2 > input {
  width: 20%;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  outline-width: 0;
  margin-left: 10px;
}
.input__bottom > input {
  width: 60%;
  padding: 60px 40px;
  border: none;
  border-radius: 5px;
  outline-width: 0;
}
.btn {
  padding: 5px 15px;
  margin-top: 10px;
  margin: 30px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
}
.request {
  display: flex;
  background-color: #f2f2f2;
}
.request__left {
  flex: 0.7;
  border-right: 1px solid gray;
  height: 100vh;
  direction: rtl;
}
.request__right {
  flex: 0.3;
  direction: rtl;
}
.request__title {
  margin-top: 90px;
  margin-right: 70px;
  font-size: 25px;
  font-weight: 600;
}
.request__rightcontent > p {
  margin: 40px;
}

.request__rightbutton {
  margin-top: 40px;
  margin-right: 70px;
  margin-left: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.request__rightbutton > button {
  color: white;
  background-color: black;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.avatar > p {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 500;
}

.request__leftheader {
  display: flex;
  margin-top: 20px;
  margin-right: 70px;
  align-items: center;
}
.request__leftinfo {
  margin-right: 10px;
}
.request__leftinfo > p {
  font-size: 12px;
  color: gray;
}
.chattt {
  margin-top: 90px;
  margin-right: 70px;
  display: flex;
}
.chattt-input {
  margin-left: 20px;
  flex: 1;
  border-radius: 7px;
  border: none;
  outline-width: 0;
}
.chat__first {
  margin-top: 90px;
  margin-right: 70px;
  display: flex;
  align-items: flex-start;
}

.chat__first > p {
  background-color: white;
  padding-left: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: 10px;
}
.chat__second {
  display: flex;
}
.chat__second {
  float: left;
  color: white;
  margin-right: 10px;
}
.chat__second > p {
  background-color: #414141;
  padding-right: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 10px;
}
.header {
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(56, 56, 56);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 6px 6px 2px -3px black;
}

.header__left > h1 {
  margin-left: 60px;
}
.header__right > p {
  margin-right: 60px;
}
.footer {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 6px 2px -3px black;
}
.footer__up {
  display: flex;
  background-color: rgb(56, 56, 56);
  height: 300px;
}
.footer__down {
  background-color: #383838;
  height: 150px;
}
.footer__left {
  flex: 0.33;
  padding: 20px;
  margin-left: 10px;
  width: 100%;
}
.footer__left > p {
  margin-top: 20px;
  text-align: left;
  width: 90%;
  font-size: 14px;
}
.footer__middle {
  flex: 0.34;
  padding: 20px;
  margin-left: 10px;
}

.footer__right {
  flex: 0.33;
  padding: 20px;
}
.footer__lefticon {
  margin-top: 10px;
  display: flex;
}
.footer__lefticon > .MuiSvgIcon-root {
  margin-right: 5px;
  font-size: 40px;
}
.footer__middleimage {
  display: flex;
  align-items: center;
}
.footer__middleimage > .MuiSvgIcon-root {
  font-size: 80px;
  margin-top: 20px;
  padding: 15px;
  margin-right: 10px;
  background-color: #383838;
}
.footer__right > h2 {
  margin-bottom: 25px;
}
.footer__right > p {
  margin-top: 25px;
  font-size: 12px;
  font-weight: 500;
}
.footer__down {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__downleft {
  margin-left: 40px;
  font-size: 12px;
  color: gray;
}
.footer__downright {
  display: flex;
  margin-right: 40px;
}
.footer__downright > h2 {
  margin-right: 25px;
  font-size: 20px;
}
@media only screen and (max-width: 1200px) {
  .footer__middleimage > .MuiSvgIcon-root {
    font-size: 60px;
    padding: 15px;
    margin-top: 40px;
  }
  .job {
    display: table;
  }
  .options {
    width: 400px;
  }
}
@media only screen and (max-width: 1000px) {
  .footer__middleimage > .MuiSvgIcon-root {
    font-size: 50px;
    padding: 15px;
  }
}
